* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

nav {
    background-color: aliceblue;
    display: flex;
    height: 81px;
    padding: 29px;
    margin: 13px;
}

.logo img {
    height: 132px;
    margin-top: -23px;
}
    /* Add the following styles to your existing CSS */
.profile img {
    transition: transform 0.1s ease; /* Add transition property for smooth animation */
}

.profile:hover img {
    transform: scale(1.1); /* Scale the image when the cursor is over it */
}



nav .nav-right {
    position: absolute;
    right: 100px;
    margin: 20px;
    padding: 10px;
}

a, h1, h3, h6, p {
    font-family: 'Poppins', sans-serif, 'Roboto Slab', serif;
}
h1 {
    margin-bottom: 30px;
}


a{ 
    margin: 20px;
    padding: 25px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}


/* Add the following styles to your existing CSS */
#index{
    transition: transform 0.3s ease; /* Add transition property for smooth animation */
}

#index:hover {
    transform: scale(1.1); /* Scale the link when the cursor is over it */
}


main {
    display: flex;
}

.profile img {
    margin-top: 70px;
    height: 375px;
    width: 375px;
    border: 5px solid rgb(0, 238, 255);
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    right: 15%;
}

.text {
    margin: 118px;
    width: 500px;
    font-size: larger;
}


